@include font-face($text-fontawesome, $base-url, 'font-awesome', 'font-awesome');
@include font-face($text-roboto-condensed-regular, $base-url, 'roboto-condensed-regular', 'roboto-condensed-regular');
@include font-face($text-roboto-condensed-light, $base-url, 'roboto-condensed-light', 'roboto-condensed-light');
@include font-face($text-roboto-condensed-bold, $base-url, 'roboto-condensed-bold', 'roboto-condensed-bold');

.container {
    @media (min-width: $screen-sm) {
        width: $container-sm;
    }
    @media (min-width: $screen-md) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.pf-container {
    @include container-fixed();
    @extend .container;
}

.pf-section {
    @include make-row();
}

.pf-medium-9 {
    @include make-md-column(9);
}

.pf-medium-8 {
    @include make-md-column(8);
}

.pf-medium-7 {
    @include make-md-column(7);
}

.pf-medium-6 {
    @include make-md-column(6);
}

.pf-medium-5 {
    @include make-md-column(5);
}

.pf-medium-4 {
    @include make-md-column(4);
}

.pf-medium-3 {
    @include make-md-column(3);
}

.pf-small-6 {
    @include respond-to('screen-lg') {
        @include make-lg-column(6);
    }
    @include respond-to('screen-md') {
        @include make-md-column(6);
    }
    @include respond-to('screen-sm') {
        @include make-sm-column(6);
    }
}

.pf-small-4 {
    @include respond-to('screen-sm') {
        @include make-sm-column(4);
    }
}

.pf-small-12 {
    @include make-lg-column(12);
}

.pf-extra-small-12 {
    @include respond-to('screen-xs') {
        @include make-xs-column(12);
    }
}

.pf-visible-xs {
    display: none!important;
    @include respond-to('screen-xs') {
        display: inline-block!important;
    }
}

.fa {
    font-family: $text-fontawesome;
    font-weight: normal;
    font-style: normal;
}

.fa-phone {
    &:before {
        content: $fa-var-phone;
    }
}

iframe {
    &#ic-calculator-iframe[style] {
        width: 637px!important;
        margin: auto;
        display: table;
        @include respond-to('screen-xs') {
            width: 100%!important;
        }
    }
}

.x-margin{
    margin:0!important;
}