//Gutter Width
$grid-gutter-width: 30px !default;

//Screen
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//Container
$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;

//Grid Columns
$grid-columns: 12 !default;
$base-url: '../fonts/';

//Font Family
$text-roboto-condensed-regular: "Roboto Regular Regular";
$text-roboto-condensed-light: "Roboto Regular Light";
$text-roboto-condensed-bold: "Roboto Regular Bold";
$font-roboto-condensed-regular: $text-roboto-condensed-regular, "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
$font-roboto-condensed-light: $text-roboto-condensed-light, "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
$font-roboto-condensed-bold: $text-roboto-condensed-bold, "Arial", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
$font-helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-fontawesome: 'Font Awesome';

//Colors
$violet: #673090!default;
$white: #ffffff!default;
$gray: #030303!default;
$gray2: #f8f8f8!default;
$silver: #ededed!default;
$silver2 :#666666!default;
$silver3 :#cccccc!default;
$silver4: #f0f0f0!default;
$black: #121212!default;
$light-green: #01ad9d!default;