#bwt-footer {
    background: $violet;
    font-family: $font-roboto-condensed-light;
    font-size: 14px;
    color: $white;
    padding: 50px 0;
    @include respond-to('screen-sm') {
        font-size: 14px;
    }
    .footer-copyright {
        @include respond-to('screen-xs') {
            margin-bottom: 30px;
        }
    }
    .bwt-footer-column {
        &:last-of-type {
            .footer-copyright {
                display: none;
            }
            .col-sm-3 {
                &:first-of-type {
                    padding-right: 0;
                    @include respond-to('custom-1200-1400') {
                        padding-right: 15px;
                    }
                    @include respond-to('screen-md') {
                        padding-right: 15px;
                    }
                    @include respond-to('screen-sm') {
                        padding-right: 15px;
                    }
                    @include respond-to('screen-xs') {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
    .bwt-holder {
        display: table;
        margin: auto;
        @include respond-to('screen-xs') {
            margin:0;
        }
        .bwt-footer-menu {
            display: inline-block;
            vertical-align: top;
            margin-left: 40px;
            @include respond-to('screen-sm') {
                margin-left: 30px;
            }
            @include respond-to('screen-xs') {
                margin-left: 0;
                margin-bottom: 30px;
                display: block;
            }
        }
    }
    img {
        margin-bottom: 20px;
        @include respond-to('screen-xs') {
            width: 250px;
        }
    }
    ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li {
            margin: 10px 0;
            a {
                font-family: $font-roboto-condensed-light;
                font-size: 16px;
                color: $white;
                @include respond-to('screen-sm') {
                    font-size: 14px;
                }
            }
        }
        &#menu-footer-social {
            li {
                display: block;
                margin: 15px 0;
                &:before {
                    width: 20px;
                    display: inline-block;
                }
                a {

                    font-family: $font-roboto-condensed-light;
                    font-size: 16px;
                    color: $white;
                    margin-left: -20px;
                    padding-left: 20px;
                    @include respond-to('screen-sm') {
                        font-size: 14px;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    p {
        font-family: $font-roboto-condensed-light;
        font-size: 18px;
        color: $white;
        text-align: right;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include respond-to('screen-sm') {
            font-size: 14px;
            line-height: 20px;
        }
        @include respond-to('screen-xs') {
            font-size: 16px;
            text-align: left;
            line-height: 22px;
        }
        i {
            font-size: 20px;
            margin-right: 8px;
            @include respond-to('screen-sm') {
                font-size: 15px;
                margin-right: 5px;
            }
        }
        a {
            color: $white;

            &.phone-number {
                font-family: $font-roboto-condensed-regular;
                font-size: 24px;
                color: $white;
                @include respond-to('screen-sm') {
                    font-size: 22px;
                }
                @include respond-to('screen-xs') {
                    font-size: 22px;
                }
            }
        }
    }
}