.mobile-menu {
    li {
        .dropdown-menu {
            @include respond-to('screen-xs') {
                display: block!important;
                position: static;
                border: 0;
                background: none;
                box-shadow: none;
                padding: 0;
                min-width: 100%;
                margin: 0;
                float: none;
            }
        }
        &.open {
            a {
                background: none;
            }
        }
        &.active {
            a {
                background: none;
            }
        }
        a {
            font-family: $font-helvetica;
            font-size: 16px;
            text-transform: uppercase;
            color: $gray;
            line-height: 1.6em;
            white-space: initial;
            &:hover,
            &:focus {
                background: none;
            }
        }
    }
}

#bwt-header {
    background: $violet;
    .col-sm-4 {
        @include respond-to('screen-sm') {
            padding: 0;
            padding-left: 5px;
        }
    }
    .col-sm-8 {
        @include respond-to('screen-sm') {
            padding: 0;
        }
        @include respond-to('screen-xs') {
            display: none;
        }
    }
    .bwt-logo {
        img {
            width: 320px;
            margin-top: 22px;
            @include respond-to('screen-md') {
                width: 250px;
                margin-top: 24px;
            }
            @include respond-to('screen-sm') {
                width: 200px;
                margin-top: 35px;
            }
            @include respond-to('screen-xs') {
                width: 220px;
                margin: 20px 0;
            }
        }
    }
    button {
        @include respond-to('screen-xs') {
            background: $white;
            position: absolute;
            top: 4px;
            right: 0;
        }
        .icon-bar {
            @include respond-to('screen-xs') {
                background: $violet;
            }
        }
    }
    #bwt-navigation {
        min-height: auto;
        margin-bottom: 0;
        position: relative;
        left: -20px;
        .collapse {
            padding: 0;
        }
        ul {
            display: table;
            padding: 10px 0;
            margin: auto;
            li {
                display: inline-block;
                position: relative;
                a {
                    font-family: $font-roboto-condensed-light;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $white;
                    padding: 15px 14px;
                    @include respond-to('screen-md') {
                        padding: 10px 12px;
                        font-size: 14px;
                    }
                    @include respond-to('screen-sm') {
                        font-size: 13px;
                        padding: 15px 7px;
                    }
                    .caret {
                        @include respond-to('screen-sm') {
                            margin-top: -4px;
                        }
                        @include respond-to('screen-xs') {
                            display: none;
                        }
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        background: none;
                    }
                }
                &.dropdown {
                    .dropdown {
                        a {
                            &:after {
                                content: $fa-var-caret-right;
                                font-family: $text-fontawesome;
                                float: right;
                                font-size: 14px;
                            }
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .dropdown-menu {
                    display: none;
                    .dropdown-menu {
                        left: 220px;
                        top: -1px;
                    }
                    li {
                        display: block;
                        min-width: 220px;
                    }
                }
                &.open {
                    a {
                        background: none;
                    }
                    .dropdown-menu {
                        display: block;
                        background: $violet;
                        border-radius: 0;
                        padding: 0;
                        li {
                            a {
                                display: block;
                                @include respond-to('screen-sm') {
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .visible-xs {
        @include respond-to('screen-xs') {
            background: $light-green;
        }
    }
    .header-top {
        background: $silver;
        position: relative;
        left: -11px;
        @include respond-to('screen-md') {
            left: -15px;
        }
        @include respond-to('screen-sm') {
            z-index: 102;
            left: -30px;
        }
        @include respond-to('screen-xs') {
            background: none;
            position: relative;
            left: 0;
        }
        .bwt-footer-column {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            .col-xs-12 {
                background: $light-green;
                padding: 0;
            }
            @include respond-to('screen-xs') {
                display: table;
                margin: auto;
            }
            &:first-child {
                &:before {
                    content: "";
                    background: url(../img/skew-left.png);
                    width: 30px;
                    height: 40px;
                    display: inline-block;
                    position: absolute;
                    left: -27px;
                    top: 0;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @include respond-to('screen-sm') {
                        width: 25px;
                        height: 35px;
                        left: -23px;
                    }
                    @include respond-to('screen-xs') {
                        display: none;
                    }
                }
            }
            &:last-child {
                &:after {
                    content: "";
                    background: url(../img/skew-right.png);
                    width: 30px;
                    height: 40px;
                    display: inline-block;
                    position: absolute;
                    right: -223px;
                    top: -10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    @include respond-to('screen-md') {
                        right: -177px;
                    }
                    @include respond-to('screen-sm') {
                        height: 38px;
                        right: -97px;
                    }
                    @include respond-to('screen-xs') {
                        display: none;
                    }
                }
                .col-xs-12 {
                    background: $silver;
                    .bwt-footer-title {
                        display: none;
                    }
                }
            }
            .bwt-footer-title {
                display: inline-block;
                margin-left: 15px;
                @include respond-to('screen-md') {
                    margin-left: 0;
                }
                h4 {
                    display: inline-block;
                    font-family: $font-roboto-condensed-light;
                    font-size: 18px;
                    color: $white;
                    @include respond-to('screen-md') {
                        font-size: 16px;
                    }
                    @include respond-to('screen-sm') {
                        font-size: 14px;
                    }
                }
            }
            .header-call {
                font-family: $font-roboto-condensed-regular;
                font-size: 18px;
                color: $violet;
                margin-left: 10px;
                line-height: 18px;
                @include respond-to('screen-md') {
                    font-size: 16px;
                    margin-left: 15px;
                }
                @include respond-to('screen-sm') {
                    font-size: 16px;
                    margin-left: 15px;
                }
                @include respond-to('screen-xs') {
                    display: none;
                }
                a {
                    font-size: 24px;
                    font-family: $font-roboto-condensed-bold;
                    color: $violet;
                    margin-left: 5px;
                    @include respond-to('screen-md') {
                        font-size: 20px;
                        margin-left: 5px;
                    }
                    @include respond-to('screen-sm') {
                        font-size: 20px;
                    }
                }
            }
            .bwt-footer-menu {
                display: inline-block;
                @include respond-to('screen-sm') {
                    padding-right: 20px;
                }
                ul {
                    margin-bottom: 0;
                    list-style: none;
                    padding: 8px 60px 8px 8px;
                    @include respond-to('screen-md') {
                        padding: 8px 20px 8px 8px;
                    }
                    @include respond-to('screen-sm') {
                        padding: 6px;
                    }
                    @include respond-to('screen-xs') {
                        padding: 8px;
                    }
                    li {
                        display: inline-block;
                        &:before {
                            width: 25px;
                            color: $white;
                            display: inline-block;
                            text-align: center;
                            font-size: 17px;
                            @include respond-to('screen-sm') {
                                width: 17px;
                                font-size: 14px;
                            }
                        }
                        a {
                            color: transparent;
                            width: 20px;
                            display: inline-block;
                            margin-left: -20px;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}