.pf-inner-banner {
    background-size: cover;
    height: 300px;
    background-position: center center;
    @include respond-to('screen-md') {
        height: 230px;
    }
    @include respond-to('screen-sm') {
        height: 180px;
    }
    @include respond-to('screen-xs') {
        height: 180px;
    }
}

.inner-main-text {
    .vc_column-inner {
        padding-top: 0!important;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    h2 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 32px;
        color: $white;
        margin: 20px 0;
        line-height: 1.6em;
        @include respond-to('screen-sm') {
            font-size: 28px;
            margin: 15px 0;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
            margin: 15px 0;
        }
    }
}

.inner-get-in-touch {
    margin: 50px 0;
    margin-bottom: 0px;
    &.xmargin {
        margin-top: 0;
        padding-top: 30px;
    }
    .vc_column-inner {
        padding-top: 0!important;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    h2 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 32px;
        color: $gray;
        margin-top: 15px;
        margin-bottom: 0;
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
        }
    }
    .inner-p {
        p {
            &:first-child {
                margin-bottom: 30px!important;
            }
            &:last-child {
            }
        }
    }
    p {
        text-align: center;
        font-family: $font-helvetica;
        font-size: 16px;
        color: $gray;
        line-height: 28px;
        margin-top: 20px;
        margin-bottom: 50px!important;
        @include respond-to('screen-sm') {
            font-size: 14px;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
            margin-top: 15px;
            margin-bottom: 40px!important;
        }
    }

    .inner-call-section {
        margin-bottom: 0;
        .btn-rounded {
            font-family: $text-roboto-condensed-regular;
            font-size: 22px;
            background-color: $violet;
            color: $white;
            border-radius: 5px;
            text-decoration: none;
            padding: 10px 20px;
            margin-right: 10px;
            vertical-align: middle;
            @include respond-to('screen-sm') {
                font-size: 18px;
            }
            @include respond-to('screen-xs') {
                font-size: 18px;
                display: table;
                margin: auto;
                margin-bottom: 15px;
            }
        }
        p {
            color: $violet;
            font-size: 18px;
            margin: 0;
            @include respond-to('screen-sm') {
                font-size: 16px;
            }
            @include respond-to('screen-xs') {
                font-size: 16px;
            }
            a {
                font-family: $text-roboto-condensed-bold;
                color: $violet;
                font-size: 24px;
                text-decoration: underline;
                @include respond-to('screen-sm') {
                    font-size: 22px;
                }
                @include respond-to('screen-xs') {
                    font-size: 22px;
                }
            }
        }
    }
}

.innerpage-list-content {
    margin-top: 0;
    margin-bottom: 60px;
    &.faq{
       margin-top: 60px; 
    }
    &.xl-height {
        margin-top: 10px;
        margin-bottom: 0;
        padding: 60px 0 30px;
    }
    .wpb_content_element {
        margin-bottom: 0!important;
    }
    .vc_column-inner {
        padding-top: 0!important;
    }
    p {
        margin-bottom: 20px!important;
        display: block;
        font-size: 16px;
        line-height: 1.6em;
        br {
            display: none;
        }
    }
    b,
    strong {
        margin-bottom: 0px;
        display: block;
    }
    h2 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 22px;
        color: $violet;
        line-height: 1.4em;
        margin-top: 0;
        margin-bottom: 15px;
        @include respond-to('screen-sm') {
            font-size: 18px;
        }
        @include respond-to('screen-xs') {
            font-size: 18px;
        }
    }

    h4 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 22px;
        color: $violet;
        line-height: 1.4em;
        margin-top: 0;
        margin-bottom: 15px;
        @include respond-to('screen-sm') {
            font-size: 18px;
        }
        @include respond-to('screen-xs') {
            font-size: 18px;
        }
    }
    img {
        padding-left: 15px;
        @include respond-to('screen-xs') {
            padding-left: 0;
        }
    }
    ul {
        color: $gray;
        list-style: none;
        border-top: 0;
        padding: 10px 15px;
        margin-bottom: 20px!important;
        font-size: 16px;
        line-height: 1.4em;
        @include respond-to ('screen-sm') {
            padding-left: 13px;
            padding-right: 0;
        }
        li {
            margin-bottom: 20px;
            display: table;
            vertical-align: top;
            &:before {
                font-family: $text-fontawesome;
                content: $fa-var-circle;
                display: table-cell;
                vertical-align: top;
                font-size: 9px;
                color: $gray;
                line-height: 17px;
                padding-right: 15px;
                @include respond-to ('screen-md') {
                    line-height: 20px;
                }
                @include respond-to ('screen-sm') {
                    line-height: 20px;
                }
                @include respond-to('screen-xs') {
                    padding-right: 5px;
                }
            }
            a {
                font-family: $font-helvetica;
                font-size: 16px;
                color: $gray;
                margin-bottom: 20px;
                margin-top: 0;
                padding-left: 5px;
                display: table-cell;
                vertical-align: top;
                @include respond-to ('screen-sm') {
                    font-size: 14px;
                }
            }
        }
    }
}

.innerpage-contact {
    padding: 30px 0;
    @include respond-to ('screen-sm') {
        padding: 20px 0;
    }
    .vc_column-inner {
        padding-top: 0!important;
    }
    .wpb_wrapper {
        display: table;
        margin: auto;
    }
    h2 {
        margin: 0;
        display: inline-block;
        line-height: 1.6em;
        vertical-align: middle;
        margin-right: 25px;
        color: $white;
        font-size: 28px;
        @include respond-to ('screen-sm') {
            font-size: 24px;
            margin-right: 15px;
        }
        @include respond-to ('screen-xs') {
            font-size: 24px;
            margin-right: 0;
            text-align: center!important;
        }
    }
    .vc_btn3-inline {
        vertical-align: middle!important;
        margin-bottom: 0;
        @include respond-to ('screen-xs') {
            margin: auto;
            margin-top: 15px;
            display: table!important;
        }
        a {
            font-size: 24px;
            @include respond-to ('screen-sm') {
                font-size: 20px;
            }
            @include respond-to ('screen-xs') {
                font-size: 20px;
                text-align: center!important;
            }
        }
    }
}