.global-main-forms-text {
    margin-top: 50px;
    h2 {
        font-family: $font-roboto-condensed-light;
        font-size: 36px;
        color: $black;
        margin-bottom: 10px!important;
        margin-top: 0;
        @include respond-to('screen-md') {
            font-size: 32px;
        }
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
            text-align: center;
        }
        strong {
            color: $violet;
            font-family: $font-roboto-condensed-bold;
        }
    }
}

.global-main-forms {
    margin-bottom: 60px;
    h3 {
        text-align: center;
        font-size: 18px;
    }
    p {
        margin: 0;
    }
    .form-group {
        display: table;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .panel-primary {
        border-color: $light-green;
    }
    .panel-heading {
        background: $light-green;
        border-color: transparent;
    }
    .wpcf7-list-item {
        margin: 0 40px 0 0;
        @include respond-to('screen-sm') {
            margin: 0 35px 0 0;
        }
        @include respond-to('screen-xs') {
            margin: 8px 0;
            display: block;
        }
    }
    input {
        &[type="number"] {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        &[type="submit"] {
            font-family: $text-roboto-condensed-regular;
            background: $violet;
            color: $white;
            padding: 10px 30px;
            display: table;
            outline: 0;
            border: none;
            border-radius: 5px;
            width: auto;
            letter-spacing: 2px;
            font-size: 17px;
            text-transform: uppercase;
        }
    }
    br {
        @include respond-to('screen-xs') {
            display: none;
        }
    }
    select {
        &[name="vehicle"] {
            @include respond-to('screen-md') {
                padding: 0 2px;
            }
        }
    }
    .col-sm-1 {
        @include respond-to('screen-sm') {
            width: 13.3333333%;
        }
    }
    .col-sm-2 {
        @include respond-to('screen-sm') {
            width: 22.33333333%;
        }
    }
    .col-sm-6 {
        @include respond-to('screen-sm') {
            width: 58%;
        }
    }
    #cutoncss {
        .col-sm-2 {
            &:last-child {
                @include respond-to('screen-xs') {
                    margin: 0;
                    margin-bottom: 5px;
                }
            }
            @include respond-to('screen-xs') {
                margin: 10px 0;
            }
        }
    }
    label {
        @include respond-to('screen-sm') {
            padding: 0;
        }
        span {
            color: red;
            &.wpcf7-list-item-label{
                color:$gray;
            }
        }
        tt {
            @include respond-to('screen-sm') {
                margin-left: -7px;
            }
        }
    }
}