.about-main-content {
    margin: 30px 0 60px;
    @include respond-to('screen-xs') {
        margin: 30px 0 50px;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    .vc_column-inner {
        padding: 0;
    }
    h2 {
        font-family: $text-roboto-condensed-regular;
        font-size: 32px;
        color: $violet;
        margin-top: 0;
        margin-bottom: 30px;
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
        }
        &:before {
            content: "";
            border-top: 2px solid $violet;
            display: block;
            margin-bottom: 10px;
            width: 145px;
            @include respond-to('screen-sm') {
                width: 130px;
            }
            @include respond-to('screen-xs') {
                width: 130px;
            }
        }
    }
    p {
        font-family: $font-helvetica;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.6em;
        color: $gray;
        margin-bottom: 15px;
        &:first-of-type {
            margin-bottom: 40px;
        }
        strong {
            font-family: $text-roboto-condensed-regular;
            font-weight: normal;
            font-size: 18px;
            margin-top: 35px;
            color: $violet;
            img {
                margin-right: 15px;
            }
        }
    }
    .innerpage-title {
        p {
            font-family: $text-roboto-condensed-regular;
            font-size: 24px;
            color: $violet;
            margin-bottom: 0;
            @include respond-to('screen-sm') {
                font-size: 22px;
            }
            @include respond-to('screen-xs') {
                font-size: 22px;
            }
        }
    }
}

.inner-violet-bg-holder {
    margin-bottom: 80px;
    @include respond-to('screen-xs') {
        margin-bottom: 0;
    }
    .wpb_content_element {
        @include respond-to('screen-sm') {
            margin-bottom: 20px;
        }
    }
    .inner-violet-bg {
        .vc_column-inner {
            background: $violet;
            position: relative;
            padding: 20px;
            width: 320px!important;
            margin: auto;
            @include respond-to('screen-md') {
                width: 270px !important;
            }
            @include respond-to('screen-sm') {
                width: 220px !important;
            }
            @include respond-to('screen-xs') {
                width: 100% !important;
                margin-bottom: 60px;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -30px;
                right: -30px;
                background: url(../img/img-square.png);
                width: 70px;
                height: 70px;
                display: inline-block;
                background-size: contain;
                @include respond-to('screen-md') {
                    width: 50px;
                    height: 50px;
                    bottom: -20px;
                    right: -20px;
                }
                @include respond-to('screen-sm') {
                    width: 45px;
                    height: 45px;
                    bottom: -15px;
                    right: -15px;
                }
                @include respond-to('screen-xs') {
                    width: 50px;
                    height: 50px;
                    bottom: -25px;
                    right: 0;
                }
            }
        }
        .wpb_single_image {
            margin-bottom: 20px;
            margin-top: 10px;
        }
        p {
            font-family: $font-helvetica;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.6em;
            color: $white;
            strong {
                font-family: $text-roboto-condensed-regular;
                font-weight: normal;
                font-size: 18px;
                color: $white;
            }
        }
    }
}

.about-team {
    padding-bottom: 20px;
    h2 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 32px;
        color: $white;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    img {
        float: left;
        margin-right: 20px;
        @include respond-to('screen-sm') {
            float: none;
            margin-bottom: 20px!important;
        }
        @include respond-to('screen-xs') {
            float: none;
            margin-bottom: 20px!important;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 14px;
        color: $white;
        line-height: 1.6em;
        margin-bottom: 0!important;
        padding-right: 15px;
        strong {
            font-family: $text-roboto-condensed-regular;
            font-weight: normal;
            font-size: 20px;
            color: $white;
            margin-bottom: 10px!important;
            display: block;
        }
    }
}