// -----------------------------------------------------------------------------
// This file contains all styles related to the blog section of the site/application.
// -----------------------------------------------------------------------------
.pf-blog {
    &.content {
        &.post {
            margin-bottom: 30px;
            &.wrap {
                &:first-child {
                    margin-top: 50px;
                }
            }
            &.holder {
                display: table;
                margin-bottom: 20px;
            }
            &.date {
                display: table-cell;
                vertical-align: top;
                .day {
                    font-family: $font-helvetica;
                    font-size: 36px;
                    color: $violet;
                    line-height: 32px;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                }
                .month {
                    font-family: $font-helvetica;
                    font-size: 24px;
                    color: $violet;
                    line-height: 21px;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
            &.title {
                display: table-cell;
                vertical-align: top;
                padding-left: 30px;
                @include respond-to ('screen-xs') {
                    padding-left: 15px;
                }
                h2 {
                    margin-top: 0;
                    margin-bottom: 5px;
                    line-height: 24px;
                    font-family: $font-helvetica;
                    font-size: 24px;
                    color: $silver2;
                    line-height: 1.4em;
                    a {
                        font-family: $font-helvetica;
                        font-size: 24px;
                        color: $silver2;
                        line-height: 1.4em;
                    }
                }
                ul {
                    padding: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        &:last-of-type {
                            &:after {
                                display: none;
                            }
                        }
                        &:after {
                            content: ",";
                            margin-right: 5px;
                        }
                        a {
                            font-family: $font-helvetica;
                            font-size: 16px;
                            margin: 0;
                            color: $silver2;
                        }
                    }
                }
            }
            &.image {
                .pf-main-img {
                    width: 350px;
                    height: 233px;
                    background-size: cover!important;
                    background-position: center center!important;
                    @include respond-to ('screen-md') {
                        width: 290px;
                        height: 173px;
                    }
                    @include respond-to ('screen-sm') {
                        width: 230px;
                        height: 133px;
                    }
                }
            }
            &.text {
                p {
                    font-family: $font-helvetica;
                    font-size: 14px;
                    color: $gray;
                    line-height: 21px;
                    &:last-of-type {
                        margin-bottom: 30px;
                        @include respond-to ('screen-xs') {
                            margin-bottom: 20px;
                        }
                    }
                }
                a {
                    height: 45px;
                    width: 165px;
                    text-align: center;
                    font-family: $text-roboto-condensed-light;
                    background: $violet;
                    color: $white;
                    text-decoration: none;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 16px;
                    padding: 10px 25px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    @include respond-to ('screen-sm') {
                        height: 40px;
                        width: 145px;
                    }
                    @include respond-to ('screen-xs') {
                        height: 40px;
                        width: 145px;
                    }
                    &:hover {
                        background: $violet;
                    }
                }
            }
        }
    }
    &.sidebar {
        width: 300px;
        float: right;
        @include respond-to ('screen-xs') {
            float: none;
            width: 100%;
        }
        @include respond-to ('screen-md') {
            width: 270px;
        }
        @include respond-to ('screen-sm') {
            width: 220px;
        }
        .widget {
            &:first-child {
                @include respond-to ('screen-xs') {
                    margin-top: -15px;
                }
            }
            &:last-child {
                margin-top: 50px;
            }
        }
        h2 {
            font-family: $text-roboto-condensed-light;
            font-size: 18px;
            color: $white;
            background: $light-green;
            margin: 0;
            padding: 15px 0;
            text-transform: uppercase;
            text-align: center;
            border: 1px solid $black;
            border-bottom: 0;
        }
        ul {
            color: $violet;
            list-style: none;
            border: 1px solid $black;
            border-top: 0;
            padding: 10px 0;
            padding-left: 20px;
            li {
                margin: 10px 0;
                &:before {
                    font-family: $text-fontawesome;
                    content: $fa-var-chevron-circle-right;
                    display: table-cell;
                    vertical-align: top;
                }
                a {
                    font-family: $font-helvetica;
                    font-size: 16px;
                    color: $gray;
                    margin-bottom: 20px;
                    margin-top: 0;
                    padding-left: 10px;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    .pagination-holder {
        margin: auto;
        display: table;
        padding-bottom: 20px;
        .pagination {
            li {
                &.active {
                    a {
                        color: $violet;
                        background: $silver;
                        border-color: $silver;
                    }
                }
                .current {
                    color: $white;
                    background: $violet;
                    border-radius: 0;
                    &:focus,
                    &:hover {
                        border: 0;
                        background: $violet;
                    }
                }
                a,
                span {
                    font-family: $font-helvetica;
                    font-size: 18px;
                    color: $gray;
                    width: 36px;
                    text-align: center;
                    border: 0;
                    margin: 0 5px;
                    &:focus,
                    &:hover {
                        border: 0;
                        background: none;
                    }
                    i {
                        font-size: 24px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}