// -----------------------------------------------------------------------------
// This file contains all styles related to the blog single section of the site/application.
// -----------------------------------------------------------------------------
.comment-write {
    padding: 15px 20px;
    clear: both;
}

.pf-blog {
    &.content {
        &.wrapper {
            @include respond-to ('screen-xs') {
                padding-right: 0;
            }
        }
        &.post {
            &.single {
                &.text {
                    b {
                        font-family: $font-helvetica;
                        font-size: 16px;
                        color: $gray;
                        font-weight: normal;
                        margin-bottom: 15px;
                        display: block;
                    }
                    ul {
                        padding-left: 15px;
                        margin: 20px 0;
                        li {
                            font-family: $text-roboto-condensed-regular;
                            color: $gray;
                            a {
                                font-family: $text-roboto-condensed-regular;
                                background: none;
                                padding: 0;
                                color: $gray;
                                height: auto;
                                width: auto;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    &.content-share {
        margin-bottom: 30px;
        display: table;
    }
    &.related {
        &.holder {
            &:before {
                content: "";
                display: block;
                border-top: 1px solid $silver;
                padding: 0 15px;
            }
            h3 {
                font-family: $text-roboto-condensed-regular;
                font-size: 25px;
                color: $gray;
                padding-top: 20px;
                margin: 15px 0;
                @include respond-to ('screen-xs') {
                    padding-bottom: 20px;
                }
            }
        }
        &.thumbs {
            @include respond-to ('screen-xs') {
                margin: auto;
                display: table;
                margin-bottom: 50px;
            }
            .pf-main-img {
                margin-bottom: 15px;
                width: 100%;
                height: 151px;
                background-size: cover!important;
                background-position: center center!important;
                @include respond-to ('screen-md') {
                    height: 120px;
                }
                @include respond-to ('screen-sm') {
                    height: 90px;
                }
                @include respond-to ('screen-xs') {
                    margin: auto;
                    width: 270px;
                    height: 130px;
                }
            }
            a {
                font-family: $font-helvetica;
                font-weight: normal;
                font-size: 16px;
                color: $gray;
            }
            ul {
                padding: 0;
                list-style: none;
                li {
                    a {
                        font-family: $text-roboto-condensed-regular;
                        font-size: 14px;
                        color: $gray;
                    }
                }
            }
        }
    }
    &.comments {
        &.right {
            float: right;
        }
        &.holder {
            margin-bottom: 20px;
            &:before {
                content: "";
                display: block;
                border-top: 1px solid $silver;
                padding: 0 15px;
                margin: 20px 0;
            }
        }
        &.wrapper {
            border: 1px solid $silver;
            margin-top: 20px;
            .children {
                .children {
                    padding: 0;
                }
            }
        }
        &.comment-header {
            padding: 15px 20px;
            line-height: 12px;
            border-bottom: 1px solid $silver;
            margin-bottom: 15px;
            span {
                font-family: $font-helvetica;
                font-size: 16px;
                color: $gray;
                a {
                    font-family: $font-helvetica;
                    font-size: 16px;
                    color: $violet;
                }
            }
        }
    }
    &.comment-content {
        &.wrap {
            padding: 15px 20px;
            clear: both;
            &.reply {
                padding-left: 60px;
                @include respond-to ('screen-sm') {
                    padding-left: 50px;
                }
                @include respond-to ('screen-xs') {
                    padding-left: 30px;
                }
            }
        }
        &.comment-user {
            img {
                display: inline-block;
                width: 45px;
                height: 45px;
            }
            h2 {
                display: inline-block;
                font-weight: normal;
                font-size: 18px;
                padding-left: 15px;
            }
        }
        &.comment-date {
            float: right;
            margin: 22px 0;
            @include respond-to ('screen-xs') {
                float: none;
                display: block;
            }
        }
    }
    &.article {
        display: block;
        border: 1px solid #c7c7c7;
        border-radius: 4px;
        padding: 20px;
        font-size: 14px;
        margin-top: 20px;
    }
    &.comment-reply {
        background: $violet;
        text-decoration: none;
        color: $white;
        border-radius: 4px;
        padding: 10px 15px;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 10px;
        display: table;
    }
    #reply-title {
        margin: 0;
        font-size: 24px;
        &.comment-reply-titles {
            margin-bottom: 15px;
        }
    }
    .comment-form {
        display: block;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 20px;
        .comment-notes {
            margin-bottom: 35px;
        }
        label {
            margin-bottom: 5px;
            span {
                color: red;
            }
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 0 0 10px;
            font-size: 14px;
            border: 1px solid #c7c7c7;
        }
        textarea {
            width: 100%;
            padding: 10px;
            margin: 0;
            height: 150px;
            resize: none;
            font-size: 14px;
            border: 1px solid #c7c7c7;
        }
        input[type="submit"] {
            text-transform: inherit;
            font-weight: normal;
            font-family: $font-helvetica;
            font-size: 13px;
            background: #1f8be6;
            text-decoration: none;
            color: #fff;
            border-radius: 4px;
            padding: 10px 15px;
            margin-left: auto;
            margin-top: 15px;
            margin-bottom: 10px;
            display: table;
            width: auto;
            margin-left: auto;
            margin-right: 0;
        }
    }
}