.contact-info {
    h2 {
        text-align: center;
        font-family: $text-roboto-condensed-bold;
        font-size: 32px;
        color: $violet;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.6em;
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 17px;
        color: $black;
        text-align: center;
        line-height: 1.6em;
        @include respond-to('screen-sm') {
            font-size: 14px;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
        }
    }
}

.rounded-info {
    em {
        background: $violet;
        width: 60px;
        height: 60px;
        display: block;
        margin: auto;
        text-align: center;
        line-height: 60px;
        color: $white;
        font-size: 25px;
        border-radius: 50%;
        @include respond-to('screen-sm') {
            font-size: 22px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        &:before {
            text-align: center;
            display: table;
            margin: auto;
            width: 60px;
            height: 60px;
            @include respond-to('screen-sm') {
                width: 50px;
                height: 50px;
            }
        }
    }
    h3 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 24px;
        color: $gray;
        line-height: 1.6em;
        @include respond-to('screen-sm') {
            font-size: 20px;
        }
    }
    p {
        text-align: center;
        font-family: $font-helvetica;
        font-size: 16px;
        color: $gray;
        line-height: 1.6em;
        margin-top: 20px;
        margin-bottom: 5px;
        @include respond-to('screen-sm') {
            margin-top: 5px;
            font-size: 14px;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
            margin-top: 5px;
        }
    }
}

.contact-form {
    h3 {
        text-align: center;
        font-family: $text-roboto-condensed-regular;
        font-size: 24px;
        color: $violet;
        line-height: 1.6em;
        margin-bottom: 0;
        @include respond-to('screen-xs') {
            font-size: 20px;
        }
    }
    h4 {
        text-align: center;
        font-family: $text-roboto-condensed-bold;
        font-size: 44px;
        color: $gray;
        line-height: 1.6em;
        margin-top: 0;
        @include respond-to('screen-sm') {
            font-size: 38px;
        }
        @include respond-to('screen-xs') {
            font-size: 32px;
            line-height: 1.4em;
        }
    }
    form {
        padding: 25px 158px 0 162px;
        @include respond-to('screen-sm') {
            padding: 25px 30px 0 30px;
        }
        @include respond-to('screen-xs') {
            padding: 25px 0 0;
        }
        label {
            font-family: $text-roboto-condensed-light;
            color: $gray;
            display: block;
            font-size: 16px;
            @include respond-to('screen-sm') {
                font-size: 14px;
            }
            @include respond-to('screen-xs') {
                font-size: 14px;
            }
            span {
                color: red;
            }
        }
        input {
            width: 100%;
            height: 50px;
            padding: 10px 15px;
            border: 0;
            font-size: 16px;
            &.wpcf7-not-valid {
                border: 1px solid red;
            }
            @include respond-to('screen-sm') {
                font-size: 14px;
            }
            @include respond-to('screen-xs') {
                font-size: 14px;
            }
            &[type="submit"] {
                font-family: $text-roboto-condensed-regular;
                background: $violet;
                color: $white;
                padding: 10px 50px;
                display: table;
                margin: 20px auto 0;
                outline: 0;
                border: none;
                border-radius: 5px;
                width: auto;
                letter-spacing: 2px;
                -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                -moz-box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                font-size: 17px;
            }
        }
        .wpcf7-form-control-wrap {
            margin: 5px 0 35px;
            width: 100%;
            display: block;
            @include respond-to('screen-sm') {
                margin: 5px 0 25px;
            }
            @include respond-to('screen-xs') {
                margin: 5px 0 25px;
            }
        }
        textarea {
            width: 100%;
            height: 110px;
            padding: 10px 15px;
            border: 0;
            font-size: 16px;
            resize: none;
            &.wpcf7-not-valid {
                border: 1px solid red;
            }
            @include respond-to('screen-sm') {
                font-size: 14px;
            }
            @include respond-to('screen-xs') {
                font-size: 14px;
            }
        }
        .ajax-loader,
        .wpcf7-validation-errors,
        .wpcf7-not-valid-tip {
            display: none!important;
        }
    }
}