 .faq-main-content {
     margin: 20px 0;
     h2 {
         font-family: $text-roboto-condensed-regular;
         font-size: 32px;
         color: $gray;
         margin-top: 0;
         margin-bottom: 20px;
         @include respond-to('screen-sm') {
             font-size: 28px;
         }
         @include respond-to('screen-xs') {
             font-size: 28px;
         }
     }
     p {
         font-family: $font-helvetica;
         font-size: 16px;
         color: $gray;
         line-height: 1.6em;
         margin-bottom: 5px;
         a{
            color:$violet;
            font-family: $text-roboto-condensed-bold;
         }
         @include respond-to('screen-sm') {
             font-size: 14px;
         }
         @include respond-to('screen-xs') {
             font-size: 14px;
         }
     }
     .panel-heading {
         border: 0;
         padding: 0;
         background: none;
     }
     .panel-default {
         border-color: $silver2;
     }
     .panel-title {
         a {
             padding: 15px;
             background: $violet;
             font-family: $text-roboto-condensed-regular;
             font-size: 16px;
             color: $white;
             display: block;
             text-decoration: none;
             line-height: 1.4em;
         }
     }
     .panel-body {
         border-color: $silver;
         font-family: $font-helvetica;
         font-size: 14px;
         line-height: 1.6em;
     }
     .wpb_content_element {
         margin-bottom: 100px !important;
         &.faq-text {
             margin-bottom: 30px!important;
         }
     }
 }

 .faq-sidebar {
     .wpb_content_element {
         margin-bottom: 30px !important;
     }
     .vc_column-inner {
         width: 280px!important;
         @include respond-to ('screen-md') {
             width: 240px!important;
         }
         @include respond-to ('screen-sm') {
             width: 190px!important;
         }
         @include respond-to ('screen-xs') {
             float: none;
             width: 100%!important;
         }
     }

     .widget {
         &:first-child {
             @include respond-to ('screen-xs') {
                 margin-top: -15px;
             }
         }
         &:last-child {
             margin-top: 50px;
         }
     }
     h2 {
         font-family: $text-roboto-condensed-light;
         font-size: 18px;
         color: $white;
         background: $light-green;
         margin: 0;
         padding: 15px 0;
         text-align: center!important;
         text-transform: uppercase;
         text-align: center;
         border: 1px solid $black;
         border-bottom: 0;
         @include respond-to ('screen-sm') {
             font-size: 16px;
         }
     }
     ul {
         color: $violet;
         list-style: none;
         border: 1px solid $black;
         border-top: 0;
         padding: 10px 20px;
         @include respond-to ('screen-sm') {
             padding-left: 13px;
             padding-right: 0;
         }
         li {
             margin: 10px 0;
             &:before {
                 font-family: $text-fontawesome;
                 content: $fa-var-circle;
                 display: table-cell;
                 vertical-align: top;
                 font-size: 9px;
                 color: $gray;
                 @include respond-to ('screen-md') {
                     line-height: 20px;
                 }
                 @include respond-to ('screen-sm') {
                     line-height: 20px;
                 }
             }
             a {
                 font-family: $font-helvetica;
                 font-size: 16px;
                 color: $gray;
                 margin-bottom: 20px;
                 margin-top: 0;
                 padding-left: 5px;
                 display: table-cell;
                 vertical-align: top;
                 @include respond-to ('screen-sm') {
                     font-size: 14px;
                 }
             }
         }
     }
 }