.main-banner {
    .wpb_single_image {
        margin-bottom: 0;
        height: 460px;
        @include respond-to('custom-1200-1400') {
            height: 380px;
        }
        @include respond-to('screen-md') {
            height: 300px;
        }
        @include respond-to('screen-sm') {
            height: 240px;
        }
        @include respond-to('screen-xs') {
            height: 240px;
            background-position: left center!important;
        }
    }
    img {
        display: none;
    }
}

.banner-title {
    .vc_column-inner {
        padding-top: 0!important;
        h2 {
            font-family: $font-roboto-condensed-light;
            font-size: 28px;
            color: $white;
            margin: 20px 0;
            @include respond-to('screen-md') {
                font-size: 26px;
            }
            @include respond-to('screen-sm') {
                font-size: 19px;
                margin: 15px 0;
            }
            @include respond-to('screen-xs') {
                font-size: 20px;
                line-height: 1.4em;
                margin: 15px 0;
                text-align: center!important;
            }
        }
    }
    .vc_col-sm-8 {
        @include respond-to('screen-sm') {
            width: 58.33333333%;
        }
    }
    .vc_col-sm-4 {
        @include respond-to('screen-sm') {
            width: 41.66666667%;
        }
    }
}

.home-lifeprotector-info {
    padding-bottom: 50px;
    @include respond-to('screen-xs') {
        padding-bottom: 60px;
    }
    .vc_col-sm-8 {
        @include respond-to('screen-sm') {
            width: 58.33333333%;
        }
    }
    .vc_col-sm-4 {
        @include respond-to('screen-sm') {
            width: 41.66666667%;
        }
    }
    h2 {
        font-family: $font-roboto-condensed-light;
        font-size: 36px;
        color: $black;
        line-height: 1.6em;
        margin-bottom: 10px!important;
        margin-top: 30px;
        @include respond-to('screen-md') {
            font-size: 32px;
            margin-top: 15px;
        }
        @include respond-to('screen-sm') {
            font-size: 28px;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
            text-align: center;
            margin-top: 0;
        }
        strong {
            color: $violet;
            font-family: $font-roboto-condensed-bold;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 15px;
        line-height: 1.6em;
        @include respond-to('screen-md') {
            font-size: 14px;
        }
        @include respond-to('screen-sm') {
            font-size: 14px;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
        }
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    form {
        background: $white;
        border: 5px solid $silver2;
        border-radius: 10px;
        width: 315px;
        margin-top: -203px;
        @include respond-to('screen-md') {
            width: 300px;
        }
        @include respond-to('screen-sm') {
            width: 270px;
            margin-top: -170px;
        }
        @include respond-to('screen-xs') {
            width: 280px;
            margin: auto;
            display: table;
            margin-top: 10px;
        }
        .form-title {
            background: $light-green;
            padding: 10px 20px;
            border-radius: 5px 5px 0 0;
            font-size: 26px;
            text-align: center;
            color: $white;
            font-family: $font-roboto-condensed-light;
            line-height: 1.4em;
            position: relative;
            @include respond-to('screen-sm') {
                font-size: 20px;
            }
            @include respond-to('screen-xs') {
                font-size: 20px;
            }
            &:before {
                content: "";
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 13px solid $light-green;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -13px;
            }
        }
        p {
            padding: 0 20px;
            span {
                &:first-of-type {
                    margin-top: 35px;
                    display: block;
                }
                .wpcf7-not-valid-tip {
                    display: none;
                }
            }
        }
        input {
            border: 1px solid $black;
            margin-bottom: 15px!important;
            padding: 5px 15px;
            font-family: $font-helvetica;
            width: 100%;
            outline: 0;
            font-size: 15px;
            letter-spacing: 1px;
            &.wpcf7-not-valid {
                border: 1px solid red;
            }
            @include respond-to('screen-xs') {
                font-size: 14px;
            }
            &[type="submit"] {
                background: $violet;
                color: $white;
                font-family: $font-roboto-condensed-regular;
                font-size: 28px;
                text-transform: uppercase;
                padding: 10px 15px;
                border: 0;
                @include respond-to('screen-sm') {
                    font-size: 22px;
                }
                @include respond-to('screen-xs') {
                    font-size: 22px;
                }
            }
        }
        .ajax-loader,
        .wpcf7-response-output {
            margin: 0 20px 20px;
            display: none;
        }
    }
}

.home-mortgage-info {
    @include respond-to('screen-xs') {
        padding-bottom: 30px;
    }
    .vc_col-sm-5 {
        @include respond-to('screen-xs') {
            display: none;
        }
    }
    .wpb_content_element {
        margin-bottom: 0;
        display: table-cell;
        &.wpb_text_column {
            padding-left: 30px;
            @include respond-to('screen-sm') {
                padding-left: 20px;
            }
            @include respond-to('screen-xs') {
                padding-left: 20px;
            }
        }
    }
    h3 {
        color: $violet;
        font-family: $font-roboto-condensed-bold;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1.6em;
        @include respond-to('screen-md') {
            font-size: 18px;
        }
        @include respond-to('screen-sm') {
            font-size: 18px;
        }
        @include respond-to('screen-xs') {
            font-size: 18px;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 15px;
        margin-bottom: 15px!important;
        line-height: 1.6em;
        @include respond-to('screen-md') {
            font-size: 14px;
        }
        @include respond-to('screen-sm') {
            font-size: 14px;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
        }
    }

    .left-image {
        img {
            margin-top: 70px;
            @include respond-to('screen-md') {
                margin-top: 60px;
            }
            @include respond-to('screen-xs') {
                display: none;
            }
        }
    }
    .img-rounded .vc_single_image-wrapper {
        background: #01ad9d;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        position: relative;
        @include respond-to('screen-sm') {
            width: 60px;
            height: 60px;
        }
        @include respond-to('screen-xs') {
            width: 60px;
            height: 60px;
        }
        &:after {
            content: "";
            border: 7px solid #673090;
            display: inline-block;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            @include respond-to('screen-sm') {
                border: 5px solid #673090;
                width: 60px;
                height: 60px;
            }
            @include respond-to('screen-xs') {
                border: 5px solid #673090;
                width: 60px;
                height: 60px;
            }
        }
        img {
            display: table;
            margin: 10px auto;
            text-align: center;
            @include respond-to('screen-sm') {
                margin: 13px auto;
                width: 35px;
            }
            @include respond-to('screen-xs') {
                margin: 13px auto;
                width: 35px;
            }
        }
    }
}

.home-interest-info {
    padding: 50px 0 70px;
    @include respond-to('screen-md') {
        padding: 50px 0 70px;
    }
    @include respond-to('screen-sm') {
        padding: 40px 0 60px;
    }
    @include respond-to('screen-xs') {
        padding: 30px 0;
    }
    &.swap-xs {
        .vc_row {
            @include respond-to('screen-xs') {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
    .vc_column-inner {
        padding-top: 0!important;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    &.last {
        @include respond-to('screen-md') {
            padding-bottom: 95px;
        }
        @include respond-to('screen-sm') {
            padding-bottom: 70px;
        }
        @include respond-to('screen-xs') {
            padding-bottom: 50px;
        }
    }
    h2 {
        font-family: $font-roboto-condensed-light;
        font-size: 36px;
        line-height: 1.6em;
        color: $gray;
        margin-bottom: 80px;
        margin-top: 0;
        text-align: center;
        @include respond-to('screen-md') {
            font-size: 32px;
        }
        @include respond-to('screen-sm') {
            font-size: 32px;
            margin-bottom: 65px;
            line-height: 1.4em;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
            margin-bottom: 65px;
            line-height: 1.4em;
        }
    }
    h3 {
        font-family: $font-roboto-condensed-regular;
        font-size: 24px;
        line-height: 1.6em;
        color: $gray;
        margin-bottom: 15px;
        margin-top: 0;
        @include respond-to('screen-md') {
            font-size: 22px;
        }
        @include respond-to('screen-sm') {
            font-size: 22px;
            line-height: 1.4em;
        }
        @include respond-to('screen-xs') {
            font-size: 22px;
            line-height: 1.4em;
            margin-bottom: 10px;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 15px;
        margin-bottom: 25px!important;
        line-height: 1.6em;
        @include respond-to('screen-md') {
            font-size: 14px;
        }
        @include respond-to('screen-sm') {
            font-size: 14px;
            margin-bottom: 20px !important;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
            margin-bottom: 20px !important;
        }
    }
    a {
        font-family: $font-helvetica;
        font-size: 16px;
        line-height: 1.6em;
        text-decoration: none;
        color: $white;
        background: $violet;
        padding: 10px 25px;
        border-radius: 5px;
        display: table;
        @include respond-to('screen-sm') {
            font-size: 15px;
            line-height: 1.4em;
            padding: 8px 20px;
        }
        @include respond-to('screen-xs') {
            font-size: 15px;
            line-height: 1.4em;
            padding: 8px 20px;
        }
    }
    img {
        box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.47);
        @include respond-to('screen-xs') {
            box-shadow: none;
            margin-bottom: 30px;
        }
    }
}

.home-calculator {
    h2 {
        font-family: $font-roboto-condensed-light;
        font-size: 36px;
        line-height: 1.6em;
        color: $gray;
        margin-top: 0;
        text-align: center;
        @include respond-to('screen-md') {
            font-size: 32px;
        }
        @include respond-to('screen-sm') {
            font-size: 32px;
            line-height: 1.4em;
        }
        @include respond-to('screen-xs') {
            font-size: 28px;
            line-height: 1.4em;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 15px;
        margin-bottom: 25px!important;
        line-height: 1.6em;
        @include respond-to('screen-md') {
            font-size: 14px;
        }
        @include respond-to('screen-sm') {
            font-size: 14px;
            margin-bottom: 20px !important;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
            margin-bottom: 20px !important;
        }
    }
}