.innerpage-dynamic-form {
    .vc_col-sm-7 {
        margin: auto;
        float: none;
    }
    form {
        background: $silver4;
        border-radius: 5px;
        padding: 20px 30px;
        margin-top: -50px;
        margin-bottom: 40px;
        @include respond-to ('screen-sm') {
            margin-top: -45px;
        }
        @include respond-to ('screen-xs') {
            margin-top: 40px;
        }
        h2 {
            font-family: $text-roboto-condensed-regular;
            color: $gray;
            display: block;
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 10px;
            text-align: center;
            line-height: 1.6em;
            @include respond-to ('screen-sm') {
                font-size: 18px;
            }
        }
        .sub-text {
            display: inline-block;
            vertical-align: middle;
            font-family: $text-roboto-condensed-regular;
            color: $gray;
            font-size: 18px;
            padding-right: 15px;
            @include respond-to ('screen-md') {
                font-size: 16px;
                padding-right: 10px;
            }
            @include respond-to ('screen-sm') {
                font-size: 16px;
                margin-bottom: 5px;
            }
            @include respond-to ('screen-xs') {
                margin: auto;
                display: table;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            @include respond-to ('screen-xs') {
                display: table;
                margin: auto;
            }
        }
        label {
            font-family: $text-roboto-condensed-light;
            color: $gray;
            display: block;
            font-size: 14px;
            span {
                color: red;
            }
        }
        input {
            width: 100%;
            height: 35px;
            padding: 10px 15px;
            border: 1px solid $gray;
            font-size: 14px;
            &.wpcf7-not-valid {
                border: 1px solid red;
            }
            &[type="submit"] {
                font-family: $text-roboto-condensed-regular;
                background: $violet;
                color: $white;
                padding: 6px 20px;
                height: 40px;
                display: table;
                margin: 0;
                outline: 0;
                border: none;
                border-radius: 5px;
                width: auto;
                letter-spacing: 2px;
                -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                -moz-box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                font-size: 17px;
                @include respond-to ('screen-md') {
                    font-size: 16px;
                }
                @include respond-to ('screen-xs') {
                    margin-bottom: 10px;
                }
            }
        }
        .wpcf7-form-control-wrap {
            margin: 5px 0 15px;
            width: 100%;
            display: block;
        }
        textarea {
            width: 100%;
            height: 90px;
            padding: 10px 15px;
            border: 0;
            font-size: 14px;
            resize: none;
            border: 1px solid $gray;
            &.wpcf7-not-valid {
                border: 1px solid red;
            }
            @include respond-to('screen-sm') {
                font-size: 14px;
            }
            @include respond-to('screen-xs') {
                font-size: 14px;
            }
        }
        .ajax-loader,
        .wpcf7-validation-errors,
        .wpcf7-not-valid-tip {
            display: none!important;
        }
    }
    .left-content {
        h2 {
            font-family: $text-roboto-condensed-regular;
            color: $gray;
            display: block;
            font-size: 24px;
            text-align: center;
            line-height: 1.6em;
            margin-bottom: 20px;
            margin-top: 35px;
            @include respond-to ('screen-sm') {
                font-size: 22px;
            }
            @include respond-to ('screen-xs') {
                font-size: 22px;
                line-height: 1.4em;
                margin-bottom: 20px;
            }
            br {
                display: none;
            }
        }
        a {
            font-family: $text-roboto-condensed-regular;
            font-size: 18px;
            padding: 10px 20px;
            @include respond-to ('screen-sm') {
                font-size: 16px;
            }
        }
    }
}

.loan-tree {
    margin-top: 50px;
    margin-bottom: 70px;
    @include respond-to ('screen-xs') {
        margin-top: 20px;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    .main-title {
        margin-bottom: 60px;
        line-height: 1.4em;
        @include respond-to ('screen-xs') {
            margin-bottom: 10px;
            line-height: 1.4em;
            margin-top: 60px;
        }
    }
    .vc_col-sm-6 {
        &:last-child {
            @include respond-to ('screen-sm') {
                padding-left: 15px;
            }
        }
    }
    h2 {
        font-family: $text-roboto-condensed-regular;
        color: $gray;
        display: block;
        font-size: 28px;
        text-align: center;
        line-height: 1.4em;
        margin-bottom: 10px;
        margin-top: 0;
        @include respond-to ('screen-sm') {
            font-size: 24px;
            line-height: 1.6em;
        }
        @include respond-to ('screen-xs') {
            font-size: 22px;
            line-height: 1.4em;
        }
        br {
            display: none;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 16px;
        color: $gray;
        line-height: 1.6em;
        margin-top: 10px;
        margin-bottom: 20px!important;
        padding-right: 90px;
        @include respond-to('screen-sm') {
            font-size: 14px;
            padding-right: 0;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
            padding-right: 0;
        }
    }
    a {
        font-family: $text-roboto-condensed-regular;
        font-size: 18px!important;
        color: $white;
        padding: 10px 20px!important;
        @include respond-to('screen-sm') {
            font-size: 16px!important;
        }
        @include respond-to('screen-xs') {
            font-size: 16px;
        }
    }
    .wpb_single_image {
        margin: auto;
        display: table;
        position: relative;
        &:after {
            content: "";
            border-right: 1px solid gray;
            position: absolute;
            right: -45px;
            display: inline-block;
            width: 100%;
            height: 100%;
            @include respond-to ('screen-md') {
                right: -25px;
            }
            @include respond-to ('screen-sm') {
                right: -10px;
            }
            @include respond-to('screen-xs') {
                display: none;
            }
        }
        &:before {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $light-green;
            display: inline-block;
            position: absolute;
            right: -64px;
            z-index: 99;
            top: 0;
            @include respond-to ('screen-md') {
                right: -44px;
            }
            @include respond-to ('screen-sm') {
                width: 30px;
                height: 30px;
                right: -24px;
            }
            @include respond-to('screen-xs') {
                display: none;
            }
        }
    }
    .loan-tree-alt {
        @include respond-to('screen-xs') {
            flex-direction: column-reverse;
            display: flex;
        }
        .vc_col-sm-6 {
            &:first-child {
                @include respond-to ('screen-sm') {
                    padding-left: 0;
                }
            }
        }
        .wpb_single_image {
            img {
                @include respond-to ('screen-sm') {
                    width: 275px;
                    margin-bottom: 65px;
                }
                @include respond-to('screen-xs') {
                    width: 275px;
                }
            }
            &:after {
                right: 0;
                left: -540px;
                @include respond-to ('screen-md') {
                    left: -460px;
                }
                @include respond-to ('screen-sm') {
                    left: -337px;
                }
                @include respond-to('screen-xs') {
                    display: none;
                }
            }
            &:before {
                right: 0;
                left: -157px;
                @include respond-to ('screen-md') {
                    left: -77px;
                }
                @include respond-to ('screen-sm') {
                    left: -77px;
                }
                @include respond-to('screen-xs') {
                    display: none;
                }
            }
        }
    }
}