.testimonial-content {
    margin: 30px 0 60px;
    @include respond-to('screen-xs') {
        margin: 20px 0 40px
    }
    .vc_column-inner {
        padding-top: 0!important;
    }
}

.testimonial-holder {
    margin: 10px 0;
    @include respond-to('screen-sm') {
        margin: 0;
    }
    .wpb_content_element {
        margin-bottom: 0!important;
    }
    .vc_column-inner {
        padding-top: 0!important;
        .wpb_content_element {
            margin-left: 5px;
            position: relative;
            width: 80%;
            padding: 15px 20px 20px;
            background: $gray2;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: $silver3 solid 1px;
            margin: auto;
            margin-top: 40px;
            @include respond-to('screen-xs') {
                margin-top: 25px;
            }
            &:before {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 17px 17px 17px 0;
                border-color: transparent $silver3;
                display: block;
                width: 0;
                z-index: 0;
                left: -17px;
                top: 25px;
            }
            &:after {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 17px 17px 17px 0;
                border-color: transparent $gray2;
                display: block;
                width: 0;
                z-index: 1;
                left: -15px;
                top: 25px;
            }
        }
    }
    h2 {
        font-family: $text-roboto-condensed-regular;
        font-size: 24px;
        color: $gray;
        line-height: 1.6em;
        margin: auto;
        margin-left: 60px;
        margin-top: 5px;
        display: table;
        @include respond-to('screen-md') {
            margin-left: 50px;
        }
        @include respond-to('screen-sm') {
            font-size: 20px;
            margin-left: 40px;
        }
        @include respond-to('screen-xs') {
            font-size: 20px;
            margin-left: 10%;
        }
    }
    p {
        font-family: $font-helvetica;
        font-size: 16px;
        color: $gray;
        line-height: 1.6em;
        @include respond-to('screen-sm') {
            font-size: 14px;
        }
        @include respond-to('screen-xs') {
            font-size: 14px;
        }
    }
}

.testimonials-bottom {
    .vc_wp_posts {
        &.wpb_content_element {
            background: url(../img/white-pattern.jpg) $white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)!important;
            border-radius: 5px;
            min-height: 280px;
            width: 375px;
            margin: auto;
            @include respond-to('screen-sm') {
                width: 315px;
            }
            @include respond-to('screen-xs') {
                display: none;
            }
        }
    }
    .vc_column-inner {
        @include respond-to('screen-xs') {
            padding-top: 15px!important;
        }
    }
    h2 {
        font-family: $text-roboto-condensed-regular;
        font-size: 28px;
        color: $gray;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.6em;
        @include respond-to('screen-sm') {
            font-size: 24px;
        }
        @include respond-to('screen-xs') {
            font-size: 24px;
        }
    }
    ul {
        color: $gray;
        list-style: none;
        border-top: 0;
        padding: 0;
        @include respond-to ('screen-sm') {
            padding-left: 13px;
            padding-right: 0;
        }
        li {
            margin-bottom: 10px;
            display: table;
            vertical-align: top;
            &:before {
                font-family: $text-fontawesome;
                content: $fa-var-circle;
                display: table-cell;
                vertical-align: top;
                font-size: 8px;
                color: $gray;
                line-height: 17px;
                @include respond-to ('screen-md') {
                    line-height: 20px;
                }
                @include respond-to ('screen-sm') {
                    line-height: 20px;
                }
                @include respond-to('screen-xs') {
                    padding-right: 5px;
                }
            }
            a {
                font-family: $font-helvetica;
                font-size: 14px;
                color: $gray;
                margin-bottom: 20px;
                margin-top: 0;
                padding-left: 5px;
                display: table-cell;
                vertical-align: top;
                @include respond-to ('screen-sm') {
                    font-size: 14px;
                }
            }
        }
    }
    form {
        background: url(../img/white-pattern.jpg) $white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)!important;
        border-radius: 5px;
        min-height: 280px;
        width: 480px;
        margin: auto;
        margin-bottom: 30px;
        @include respond-to('screen-md') {
            width: 430px;
        }
        @include respond-to ('screen-sm') {
            width: 340px;
        }
        .col-sm-6,
        .col-sm-12 {
            @include respond-to ('screen-sm') {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        label {
            font-family: $text-roboto-condensed-light;
            color: $gray;
            display: block;
            font-size: 14px;
            span {
                color: red;
            }
        }
        input {
            width: 100%;
            height: 40px;
            padding: 10px 15px;
            border: 0;
            font-size: 14px;
            &.wpcf7-not-valid {
                border: 1px solid red;
            }
            &[type="submit"] {
                font-family: $text-roboto-condensed-regular;
                background: $violet;
                color: $white;
                padding: 8px 50px;
                display: table;
                margin: 20px auto 0;
                outline: 0;
                border: none;
                width: auto;
                letter-spacing: 2px;
                -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                -moz-box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                box-shadow: 0px 0px 24px 0px rgba(183, 183, 183, 1);
                font-size: 17px;
                @include respond-to ('screen-sm') {
                    margin: 10px auto 0;
                }
            }
        }
        .wpcf7-form-control-wrap {
            margin: 5px 0 15px;
            width: 100%;
            display: block;
        }
    }
    select {
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        border: 0;
        font-size: 14px;
        &.wpcf7-not-valid {
            border: 1px solid red;
        }
    }
    textarea {
        width: 100%;
        height: 110px;
        padding: 10px 15px;
        border: 0;
        font-size: 14px;
        resize: none;
    }
    .ajax-loader,
    .wpcf7-validation-errors,
    .wpcf7-not-valid-tip {
        display: none!important;
    }
}